.company-details {
}

.list-roles {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  border-top: 1px solid @gray-lighter;

  li {
    line-height: 32px;
    padding: 12px 2px;
    border-bottom: 1px solid @gray-lighter;
  }

  .actions {
    float: right;
    .btn {
      margin-left: 5px;
    }
  }
}