.company-details {
  .actions {
    @media (min-width: @screen-sm-min) {
      float: right;
    }

    .btn {
      margin-top: 20px;
      @media (min-width: @screen-sm-min) {
        margin-top: 0;
      }
    }
  }
}

.list-companies {
  
  .list-group-item {
    padding: 20px 20px 20px 17px;
  }

  .item-company, .item-role {
    border-left: 3px solid transparent !important;
    .transition(border 0.35s ease-in);
  }

  .item-role {
    padding: 10px 20px 10px 17px;
  }

  .overview {
    @media (min-width: @screen-xs-min) {
      margin-right: 200px;
    }
  }

  .company-logo {

    @media (min-width: @screen-xs-min) {
      float: right;
      margin: 0 0 0 15px;
    }
    
    img {
      display: block;
      margin: 0 auto 15px;
      max-height: 100px;
      max-width: 320px;

      @media (min-width: @screen-xs-min) {
        margin: 0;
        float: left;
        max-height: 50px;
        max-width: 160px;
      }
    }
  }

  h2, .meta, .overview {
    margin-bottom: 8px;

    > span {
      margin-right: 10px;
    }
  }

  .skills {
    display: block;
    margin-top: 5px;
  }
}

.company-hover {
  .item-company {
    border-left: 3px solid #39B54A !important;
  }

  .item-role {
    border-left: 3px solid #CCC !important;
  }
}


.list-roles {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  border-top: 1px solid @gray-lighter;

  li {
    line-height: 32px;
    padding: 12px 2px;
    border-bottom: 1px solid @gray-lighter;
  }

  .actions {
    float: right;
    .btn {
      margin-left: 5px;
    }
  }
}