<article class="content-page company-details">
  
  <header>
    <div class="container clearfix">
      <h1 class="page-title pull-left">{{ company.name }}</h1>

      <div class="actions pull-right">
        <button type="button" auth-group="student" ng-click="apply()" class="btn btn-primary btn-icon-right">Apply for Internship <i class="fa fa-envelope"></i></button>
      </div>
    </div>
  </header>

  <section class="main">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 profile-sidebar">
          <div class="profile-logo">
            <img ng-show="company.logoUrl" ng-src="{{ company.logoUrl }}" alt="{{ company.name }}">
          </div>

          <ul class="profile-meta">
            <li class="icon-left"><i class="fa fa-map-marker"></i> {{ company.address.city + ', ' +  company.address.country }}</li>
            <li class="icon-left"><i class="fa fa-globe"></i> <a href="{{ company.website }}" target="_blank">{{ company.website }}</a></li>
          </ul>
        </div>

        <div class="col-sm-8 profile-body">
          <section>
            <h2>Company profile</h2>
            {{ company.introduction }}
          </section>

          <section>
            <h4>{{ company.name }} is looking for interns with the following skills</h4>
            <ul class="skills">
              <li ng-repeat="skill in company.skills">{{ skill }}</li>
            </ul>
          </section>
          
          <section ng-if="company.roles">
            <h2>Available Internship Roles</h2>
            <ul class="list-roles">
              <li ng-repeat="role in company.roles" class="clearfix">
                <strong>{{ role.title }}</strong>
                <div class="actions">
                  <button ng-click="showRoleDetails(role)" type="button" class="btn btn-default btn-sm"><i class="fa fa-info-circle"></i> More Info</button>
                  <button auth-group="student" ng-click="apply(role)" type="button" class="btn btn-primary btn-sm">Apply <i class="fa fa-chevron-right small"></i></button>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </section>

  <section class="map map-fullwidth">
    <div class="map-overlay">
      <div class="container">
        <div class="map-info">
          <h2>{{ company.name }}</h2>
          <p ng-bind-html="company.displayAddress"></p>
          <a href="{{ company.getGoogleMapsLink() }}" class="btn btn-primary btn-icon-right" target="_blank">Get Directions <i class="fa fa-map-marker"></i></a>
        </div>
      </div>
    </div>
    <div google-map lng="company.address.lng" lat="company.address.lat" height="500"></div>
  </section>

</article>