<div class="content-box">
  <header>
    <h3>Available Roles</h3>

    <div dropdown-menu>
      <a ng-click="toggle()"><i class="fa fa-bars"></i></a>
      <ul>
        <li><a ng-click="add()">Add Role</a></li>
      </ul>
    </div>
  </header>

  <div class="list-group">
    <div ng-repeat="role in roles" class="list-group-item">
      <strong>{{ role.title }}</strong>
      <p>{{ role.description }}</p>

      <div dropdown-menu>
        <a ng-click="toggle()"><i class="fa fa-bars"></i></a>
        <ul>
          <li><a ng-click="edit(role)">Edit Role</a></li>
          <li><a ng-click="delete(role)">Delete Role</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="!roles.length" class="no-results">
    <p class="lead">Looks like you have not created any internship roles yet!</p>
    <a ng-click="add()" class="btn btn-link"><i class="fa fa-plus"></i> Create one now</a>
  </div>
</div>