<div class="content-box widget-schedule">
  <header>
    <h3>Schedule</h3>

    <div dropdown-menu>
      <a ng-click="toggle()"><i class="fa fa-bars"></i></a>
      <ul>
        <li><a ng-click="edit()">Edit Schedule</a></li>
        <li><a ng-click="add()">Add Scheduled Work</a></li>
      </ul>
    </div>
  </header>

  <div class="list-group list-schedule">
    <div ng-repeat="item in internship.schedule" class="list-group-item">
      <strong class="date pull-left"><i class="fa fa-calendar"></i> {{ item.date | date:short }}</strong>
      <span class="time pull-right"><i class="fa fa-clock-o"></i> {{ item.startTime }} <span class="text-muted">to</span> {{ item.endTime }}</span>
    </div>
  </div>

  <div ng-show="!internship.schedule.length" class="no-results">
    <p class="lead">Looks like you have not created a schedule yet!</p>
    <a ng-click="edit()" class="btn btn-link btn-sm"><i class="fa fa-plus"></i> Create one now</a>
  </div>
</div>