<!DOCTYPE html>
<html lang="en" ng-app="InternLabs" ng-controller="AppCtrl">
<head>
    <meta charset="utf-8">
    <title ng-bind="pageTitle || 'InternLabs'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600' rel='stylesheet' type='text/css'>

    <% if(process.env.NODE_ENV == 'production') { %>
        <link href="/dist/app.min.css" rel="stylesheet">
    <% } else { %>
        <link href="/dist/app.css" rel="stylesheet">
    <% } %>

</head>
<body>

    <div class="page-wrap">
    
        <!-- Primary navigation -->
        <nav primary-nav id="primary-nav" class="navbar navbar-default" ng-class="{'alt': altNav}" role="navigation">
            <div class="container">

                <div class="navbar-toggle" ng-click="toggle()"><i class="fa fa-bars"></i></div>

                <div class="nav-mobile">
                    <ul>
                        <li logged-in="false"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                        <li logged-in="true"><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li><a href="/search"><i class="fa fa-search"></i> Search</a></li>
                        <li logged-in="false"><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
                        <li logged-in="false"><a href="/signup"><i class="fa fa-user"></i> Sign Up</a></li>
                        <li logged-in="true"><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div>

                <div class="navbar-header">
                    <a class="navbar-logo" href="/"><img src="/images/logo.svg" alt="InternLabs"></a>
                    <a class="navbar-logo logo-alt" href="/"><img src="/images/logo-alt.svg" alt="InternLabs"></a>
                </div>

                <ul class="nav navbar-nav navbar-left hidden-xs">
                    <li logged-in="true" class="link-icon"><a href="/dashboard" popover="My Dashboard" popover-placement="bottom"><i class="fa fa-dashboard"></i></a></li>
                    <li logged-in="true" class="link-icon"><a href="" popover="My Profile" popover-placement="bottom"><i class="fa fa-user"></i></a></li>
                    <li class="link-icon link-search" ng-mouseover="focus()" ng-mouseout="blur()" popover="Search Companies" popover-placement="bottom">
                        <a ng-click="search()"><i class="fa fa-search"></i></a>
                        <form class="navbar-form" role="form" ng-submit="search()">
                            <label for="field-navbar-search" class="sr-only">Search</label>
                            <input type="text" id="field-navbar-search" ng-model="search.query" placeholder="Search for...">
                        </form>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li logged-in="true" class="link-icon"><a href="" popover="Account Settings" popover-placement="bottom"><i class="fa fa-gear"></i></a></li>
                    <li logged-in="true" class="link-icon"><a href="/logout" popover="Logout" popover-placement="bottom"><i class="fa fa-sign-out"></i></a></li>
                    <li logged-in="false" class="link-label">Already a member?</li>
                    <li logged-in="false" class="link-icon"><a href="/login" popover="Login" popover-placement="bottom"><i class="fa fa-sign-in"></i></a></li>
                </ul>

            </div>
        </nav>


        <!-- App Body -->
        <div id="main" class="reveal-animation" ng-view></div>
    
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="container text-center">
            <img src="/images/logo-steam-roller-footer.svg" alt="Steam Roller">
        </div>
    </footer>

    <script>
    // Global config for parsley
    window.ParsleyConfig = {
        errorClass: 'form-control-invalid',
        successClass: 'form-control-valid',
        errorsWrapper: '<div class="field-errors"></div>',
        errorTemplate: '<div class="field-error"></div>'
    };

    window.internlabs = window.internlabs || {};
    window.internlabs.user = <%-JSON.stringify(user)%>;
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineLite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>


    <script src="/dist/app.js"></script>
    <script>Pace.start({
        ajax: {
            trackMethods: ['GET', 'POST', 'PUT', 'DELETE'],
        }
    });</script>

</body>
</html>