<section class="section-login" fill-screen>
  <div class="container">
    <div class="row">

      <div class="content-box col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        <header>
          <h2>Login</h2>
        </header>

        <form validate="true" ng-validated="submit()" role="form" autocomplete="off" login-form novalidate>
          <div form-errors="errors"></div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="credentials.email" ng-model="credentials.email" class="form-control" placeholder="Email" autocomplete="off" required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="credentials.password" ng-model="credentials.password" class="form-control" placeholder="Password" autocomplete="off" required>
          </div>

          <div class="form-footer">
            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="credentials.remember" name="credentials.remember" ng-true-value="true" fs-picker> Remember Me
                  </label>
                </div>
              </div>
              <div class="col-xs-6">
                <button type="submit" class="btn btn-primary pull-right btn-icon-right">Login <i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      
    </div>
    <p class="text-center link-lost-password"><a href="/password-reset">Lost your password?</a> | <a href="/resend-activation">Resend Activation Email</a></p>
  </div>
</section>