<section class="section-green section-password-reset" fill-screen>
  
  <div class="container">
    <div class="row">

      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 floating-labels text-center">
        
        <!-- Send reset -->
        <div ng-show="action == 'send'">
          
          <!-- Send form -->
          <form validate="true" ng-submit="send()" role="form" animated-form ng-if="!sendSuccess">
            <h1 class="text-center animation-group">Password Reset</h1>

            <div class="form-group animation-group">
              <label for="">Email</label>
              <input type="email" name="email" ng-model="reset.email" class="form-control" placeholder="Your account's email address" float-label required>
            </div>


            <div class="form-group animation-group">
              <button type="submit" class="btn btn-default btn-icon-right">Send Confirmation Email <i class="fa fa-arrow-right"></i></button>
            </div>
          </form>

          <!-- Send confirmation -->
          <div ng-if="sendSuccess">
            <h1>Confirmation Send</h1>
            <p>A confirmation email has been sent to the address you provided. Please click the link in this email to set a new password for your account.</p>
          </div>
          
        </div>
        


        <!-- Reset password -->
        <div ng-show="action == 'reset'">
          
          <!-- Reset form -->
          <form validate="true" ng-submit="reset()" role="form" animated-form ng-if="!resetSuccess">
            <h1 class="text-center animation-group">Password Reset</h1>

            <div class="form-group animation-group">
              <label for="">New Password</label>
              <input type="password" name="password" ng-model="reset.password" class="form-control" placeholder="New password for your account" float-label required data-parsley-minlength="6">
            </div>


            <div class="form-group animation-group">
              <button type="submit" class="btn btn-default btn-icon-right">Reset Password <i class="fa fa-arrow-right"></i></button>
            </div>
          </form>

          <!-- Reset confirmation -->
          <div ng-show="resetSuccess">
            <h1>Your password has been reset</h1>
            <p>Your password has been reset successfully. You may now login using your new password.</p>
            <a href="/login" class="btn btn-default btn-icon-right">Proceed to login <i class="fa fa-arrow-right"></i></a>
          </div>


        </div>

      </div>

      

    </div>
  </div>

</section>