<section class="section-login">
  <div class="container">
    <div class="row">
      <div class="content-box col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        
        <!-- Send reset -->
        <header ng-show="action=='send'&&!sendSuccess">
          <h2>Reset your Password</h2>
        </header>
        <form ng-validated="send()" role="form" ng-show="action=='send'&&!sendSuccess">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" ng-model="reset.email" class="form-control" placeholder="Your account's email address" required>
          </div>
          <div class="form-footer text-center">
            <button type="submit" class="btn btn-primary btn-icon-right">Send Confirmation Email <i class="fa fa-arrow-right"></i></button>
          </div>
        </form>

        <div ng-show="action=='send'&&sendSuccess">
          <header>
            <h2>Confirmation Send</h2>
          </header>
          <div class="content-body">
            <p>A confirmation email has been sent to the address you provided. Please click the link in this email to set a new password for your account.</p>
          </div>
        </div>

        <!-- Reset password -->
        <header ng-show="action=='reset'&&!resetSuccess">
          <h2>Reset your Password</h2>
        </header>
        <form ng-validated="reset()" role="form" ng-show="action=='reset'&&!resetSuccess">
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" name="password" ng-model="reset.password" class="form-control" placeholder="New password for your account" required data-parsley-minlength="6">
          </div>

          <div class="form-footer text-center">
            <button type="submit" class="btn btn-primary btn-icon-right">Reset Password <i class="fa fa-arrow-right"></i></button>
          </div>
        </form>

        <!-- Reset confirmation -->
        <div ng-show="action=='reset'&&resetSuccess">
          <header>
            <h2>Your password has been reset</h2>
          </header>
          <div class="content-body">
            <p>Your password has been reset successfully. You may now login using your new password.</p>
            <a href="/login" class="btn btn-primary btn-icon-right">Proceed to login <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>