<section class="section-login">
  <div class="container">
    <div class="row">
      <div class="content-box col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <header ng-if="!success">
          <h2>Resend Activation Email</h2>
        </header>

        <!-- Send form -->
        <form ng-validated="send()" role="form" ng-show="!success">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" ng-model="resend.email" class="form-control" placeholder="Your account's email address" required>
          </div>

          <div class="form-footer text-center">
            <button type="submit" class="btn btn-primary btn-icon-right">Resend Activation Email <i class="fa fa-arrow-right"></i></button>
          </div>
        </form>

        <!-- Send confirmation -->
        <div ng-show="success">
          <header>
            <h2>Resend Activation</h2>
          </header>
          <div class="content-body">
            <p>An activation email has been sent to the address you provided. Please click the link in this email to verify your account.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>