<% include header %>
<p>Thanks for signing up to InternLabs!</p>
<p>Please click the link below to activate your account: <br /> <a style="color:#39b549;" href="<%=activationUrl%>" target="_blank">Activate your account</a></p>
<% include footer %>