<% include header %>
<p>You have been invited to supervise an internship on InternLabs</p>
<p>Please click the link below to create your account: <br /> <a style="color:#39b549;" href="<%=inviteUrl%>" target="_blank">Create Your Account</a></p>
<% include footer %>