<% include header %>
<p>We received a request to reset the password for your account.</p>
<p>If you made this request, click the link below. Otherwise you can ignore this email. <br />
  <a style="color:#39b549;" href="<%=resetUrl%>" target="_blank">Reset your password</a></p>
<% include footer %>