<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>InternLabs</title>
</head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <table class="outline">
              <tr>
                <td align="center"  colspan="3">
                  <center>
                      <h1>InternLabs</h1>
                  </center>
                </td>
              </tr>
              <tr>
                <td width="20"></td>
                <td align="center">
                  <p>Password Reset Confirmation</p>
                </td>
                <td width="20"></td>
              </tr>
              <tr>
                <td height="100" colspan="3">
                  <a href="<%=resetUrl%>" target="_blank">Click here to reset your password</a>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>