<div>
  <div ng-show="uploader.isHTML5">
    <div class="dropzone" ng-file-drop ng-file-over="over">
      <p>Drag and drop files here to upload</p>
      <button type="button" class="btn btn-link" ng-click="selectFiles()"><i class="fa fa-file"></i> Select files</button>
      <input class="input-file hide" ng-file-select type="file" multiple />
    </div>
  </div>

  <div class="list-group list-uploads">
    <div ng-repeat="item in uploader.queue" class="list-group-item clearfix">
      <div class="pull-left">
        <span ng-show="item.isSuccess"><i class="fa text-success fa-check"></i></span>
        <span ng-show="item.isCancel"><i class="fa text-warning fa-ban"></i></span>
        <span ng-show="item.isError"><i class="fa text-danger fa-warning"></i></span>
        <strong>{{ item.file.name }}</strong> <span class="text-muted">({{ item.file.size/1024/1024|number:2 }} MB)</span>
      </div>
      <a ng-click="item.remove()" class="if-editable btn btn-danger btn-icon fa fa-times pull-right"></a>
      <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
    </div>
  </div>

  <div class="text-center">
      <button type="button" class="btn btn-success btn-icon-left" ng-click="uploader.uploadAll()" ng-show="uploader.getNotUploadedItems().length"><i class="fa fa-arrow-up"></i> Start Upload</button>
      <button type="button" class="btn btn-danger btn-icon-left" ng-click="uploader.cancelAll()" ng-show="uploader.isUploading"><i class="fa fa-times"></i> Cancel Upload</button>
      <button type="button" class="btn btn-default btn-icon-left" ng-click="uploader.clearQueue()" ng-show="uploader.queue.length"><i class="fa fa-trash-o"></i> Clear Queue</button>
  </div>
</div>