{

  "url": "http://internlabs.dev/",

  "uploadsPath": "/uploads",

  "host": "localhost",

  "port": 8000,

  "routes": {
      "routePath": "path:./controllers"
  },

  "express": {
      "x-powered-by": false,
      "trust proxy": false,
      "jsonp callback name": null,
      "json replacer": null,
      "json spaces": 0,
      "case sensitive routing": false,
      "strict routing": false,
      "view cache": true,
      "view engine": "ejs",
      "views": "path:./views"
  },

  "mongodb": {
      "host": "127.0.0.1",
      "name": "internlabs",
      "pass": "",
      "port": 27017,
      "user": "root"
  },

  "mail": {
      "noReplyAddress": "InternLabs <no-reply@internlabs.com.au>",
      "templatesDir": "views/emails",
      "host": "smtp.sendgrid.net",
      "port": 25,
      "username": "",
      "password": "",
      "secureConnection": false
  },

  "bcrypt": {
      "difficulty": 8
  }
  
}
