<form apply-form role="form">

  <div class="form-group">
    <p>Your internship proposal contains everything your employer will need to know. This includes the internship length, your availability, required documentation and anything else that will be required of the employer.</p>
    <p>Your profile and resume will also be attached to your application.</p>
  </div>

  <div stepped-form>

    <fieldset class="form-step">
      
      <legend>Proposed Role</legend>

      <div class="custom-role">
        <div class="form-group">
          <label>Role Title</label>
          <input ng-model="application.role.title" ng-disabled="existingRole" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="">Role Description</label>
          <textarea ng-model="application.role.description" ng-disabled="existingRole" class="form-control" rows="6"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <a class="next btn btn-primary pull-right btn-icon-right">Next <i class="fa fa-arrow-right"></i></a>
      </div>

    </fieldset>


    <fieldset class="form-step">

      <legend>Internship Details</legend>
  
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label for="">Start Date</label>
            <input date-picker="application.startDate" type="text" class="form-control">
          </div>

          <div class="col-sm-4">
            <label for="">End Date</label>
            <input date-picker="application.endDate" type="text" class="form-control">
          </div>
          <div class="col-sm-4">
            <label for="">Total Hours</label>
            <input ng-model="application.totalHours" type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">Availability</label>
        <div checkbox-list selected="application.availability" options="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']" filterable="false"></div>
      </div>

      <div class="form-group">
        <label for="field-comment">Comments</label>
        <textarea ng-model="application.comment" id="field-comment" rows="6" class="form-control"></textarea>
      </div>

      <div class="modal-footer">
        <a class="previous btn btn-default pull-left btn-icon-left">Back <i class="fa fa-arrow-left"></i></a>
        <a class="next btn btn-primary pull-right btn-icon-right">Next <i class="fa fa-arrow-right"></i></a>
      </div>

    </fieldset>


    <fieldset class="form-step">

      <legend>Attached Documents</legend>

      <div upload-form uploader="uploader" allow="all" url="/testing/123" hide-buttons="true"></div>

      <div class="modal-footer">
        <a class="previous btn btn-default pull-left btn-icon-left">Back <i class="fa fa-arrow-left"></i></a>
        <a class="next btn btn-primary pull-right btn-icon-right">Next <i class="fa fa-arrow-right"></i></a>
      </div>

    </fieldset>


    <fieldset class="form-step">

      <legend>Confirm Application</legend>

      <div class="list-group">
        <div class="list-group-item">
          <strong>Role Title</strong>
          <span class="pull-right">{{ application.role.title }}</span>
        </div>
        <div class="list-group-item">
          <strong>Role Description</strong>
          <div>{{ application.role.description }}</div>
        </div>
      </div>

      <div class="list-group">
        <div class="list-group-item">
          <strong>Start Date</strong>
          <span class="pull-right">{{ application.startDate | date }}</span>
        </div>
        <div class="list-group-item">
          <strong>End Date</strong>
          <span class="pull-right">{{ application.endDate | date }}</span>
        </div>
        <div class="list-group-item">
          <strong>Total Hours</strong>
          <span class="pull-right">{{ application.totalHours || "0" }} hours</span>
        </div>
        <div class="list-group-item">
          <strong>Availability</strong>
          <span class="pull-right">{{ application.availability.join(', ') }}</span>
        </div>
      </div>

      <div class="list-group">
        <div class="list-group-item">
          <strong>Comments</strong>
          <div>{{ application.comment }}</div>
        </div>
      </div>

      <div class="modal-footer">
        <a class="previous btn btn-default pull-left btn-icon-left">Back <i class="fa fa-arrow-left"></i></a>
        <a ng-click="save()" class="next btn btn-primary pull-right btn-icon-right">Submit Application <i class="fa fa-arrow-right"></i></a>
      </div>

    </fieldset>


    <fieldset class="form-step">

      <legend>Submitting Application</legend>

      <div class="text-center" style="padding:60px 0;">
        <p class="lead">Please wait while your application is submitted...</p>
        <i class="fa fa-spinner fa-spin" style="font-size:40px"></i>
      </div>

    </fieldset>

  </div>

</form>