<div>
  <div class="list-group list-schedule">
    <div ng-repeat="item in schedule" class="list-group-item">
      <strong class="date pull-left"><i class="fa fa-calendar"></i> {{ item.date | date:short }}</strong>
      <span class="pull-right">
        <span class="time"><i class="fa fa-clock-o"></i> {{ item.startTime }} <span class="text-muted">to</span> {{ item.endTime }}</span>
        <a ng-click="remove(item)" class="btn btn-danger btn-icon fa fa-times"></a>
      </span>
    </div>
  </div>

  <div class="modal-footer text-center">
    <button ng-click="close()" type="button" class="btn btn-primary btn-icon-left"><i class="fa fa-check"></i> Done</button>
  </div>
</div>