<div ng-if="company.roles.length" class="content-box">
  <header>
    <h3>Available Internship Roles</h3>
  </header>

  <div class="list-group">
    <div ng-repeat="role in company.roles" class="list-group-item">
      <strong>{{ role.title }}</strong>
      <p>{{ role.description | limitTo:80 }}...</p>

      <div dropdown-menu>
        <a ng-click="toggle()"><i class="fa fa-bars"></i></a>
        <ul>
          <li><a ng-click="showRoleDetails(role)">More Info</a></li>
          <li><a auth-group="student" ng-click="apply(role)">Apply</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>