@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import "vendor/picker.less";
@import "vendor/selecter.less";
@import "vendor/datepicker.less";
@import "vendor/growl.less";

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

#footer, .page-wrap:after {
  height: 100px; 
}


/*

  Common

 */

.background-primary {
  .transition(0.2s);
  background: @brand-primary;
}


.help-icon {
  .icon-font;
  font-size: 26px;
  .transition(0.2s);
  cursor: help;
  .opacity(0.75);

  &:hover {
    .scale(1.1);
    .opacity(1);
  }

  &:before {
    content: @fa-var-question-circle;
  }
}

.has-help {
  position: relative;
}

.has-help .inline-help {
  position: absolute;
  right: 15px;
  top: 10px;

  .popover {
    min-width: 260px;
    margin-bottom: 10px;
  }
}

fieldset {
  .translate3d(0,0,0); // Fix for chrome animation bug
}

.scroll-box {
  overflow-x: hidden;
  overflow-y: auto;
  height: 260px;
  border: 1px solid @gray-lighter;
  padding: 5px 15px;
}

.checkbox-list {
  > input {
    width: 100%;
    border: none;
    padding: 9px;
    background: #FAFAFA;
    border-top: 1px solid #E6E6E6;
  }
}


/* Fix for grey line through google maps */
.map *, .map *:before, .map *:after {
    -webkit-transform: none !important; 
}

.map img, #map img {
  max-width: none;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  .user-select(none);
  .transition(height 0.3s);
}

.pace-active {
  background-color: darken(@brand-primary, 5%);
  position: fixed;
  z-index: 1900;
  top: @navbar-height;
  left: 0;
  height: 6px;
  width: 100%;
}

.pace .pace-progress {
  background-color: @brand-primary;
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 6px;
  overflow: hidden;
  .transition(width 0.35s);
}

.pace .pace-progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: -32px;
  bottom: 0;
  background: lighten(@brand-primary, 12%);

  // background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  // background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  // background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  // background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  // background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);

  // background-size: 32px 32px;  
  // .animation(pace-stripe-animation 500ms linear infinite);
}

.pace-inactive, .pace-inactive .pace-progress {
  display: none;
}

@-webkit-keyframes pace-stripe-animation {
  0% { -webkit-transform: none; transform: none; }
  100% { -webkit-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-moz-keyframes pace-stripe-animation {
  0% { -moz-transform: none; transform: none; }
  100% { -moz-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-o-keyframes pace-stripe-animation {
  0% { -o-transform: none; transform: none; }
  100% { -o-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-ms-keyframes pace-stripe-animation {
  0% { -ms-transform: none; transform: none; }
  100% { -ms-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@keyframes pace-stripe-animation {
  0% { transform: none; transform: none; }
  100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
}


.reveal-animation {
  // background: #fff;
}


.no-results {
  padding: 20px;
  text-align: center;

  p {
    color: #666;
    font-size: 16px;
    font-weight: normal;
  }
}

.searching {
  padding: 40px;
}

/*

  Header / Navbar

 */

body {
  padding-top: @navbar-height;
}

.navbar-logo {
  display: none;
  position: relative;
  height: @navbar-height;
  padding: 12px 6px;
  margin: 0;
  border: none;
  float: left;
  
  &.logo-alt {
    display: block;
  }

  &:hover {
    background: darken(@brand-primary, 2%);
  }
  
  img {
    display: block;
    height: 38px;
    margin: 0;

    @media (min-width: @screen-sm-min) {
      margin: 0;
      height: 42px;
    }
  }

  @media (min-width: @screen-sm-min) {
    border-left: 1px solid darken(@brand-primary, 3%);
    padding: 10px 16px;
  }

  // &:after {
  //   position: absolute;
  //   content: "BETA";
  //   bottom: 7px;
  //   right: 15px;
  //   color: lighten(@brand-primary, 30%);
  //   font-size: 8px;
  //   letter-spacing: 3px;
  // }
}

#primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // margin-top: 6px;
  border: none;
  border-bottom: 4px solid darken(@brand-primary, 5%);
  .transition(margin-top 0.3s);
  .user-select(none);

  .navbar-nav {
    border-left: 1px solid darken(@brand-primary, 3%);
  }

  .link-icon, .link-label {
    margin: 0;
    font-size: 20px;
    border-right: 1px solid darken(@brand-primary, 3%);

    a {
      display: block;
      padding: 0;
      width: @navbar-height;
      height: @navbar-height;
      line-height: @navbar-height;
      color: #fff;
      text-align: center;
    }

    &:hover {
      background: darken(@brand-primary, 2%);
    }
  }

  .link-label {
    width: auto;
    padding: 0 20px;
    font-size: @font-size-small;
    line-height: @navbar-height;
    color: #fff;
    border-left: 1px solid darken(@brand-primary, 3%);
    margin-left: -1px;

    &:hover {
      background-color: transparent;
    }
  }

  .link-search {
    a {
      float: left;
    }

    &:hover {
      input {
        width: 160px;
      }
    }
  }
}

// Popovers
#primary-nav {
  .popover {
    white-space: nowrap;
    font-size: @font-size-small;
    border: none;
    .box-shadow(0 1px 3px rgba(0,0,0,.1));

    > .arrow {
      border-bottom-color: #fff;
    }

    > .arrow:after {
      display: none;
    }
  }
}

.navbar-form {
  margin: 0;
  padding: 0;
  float: left;

  input {
    width: 0;
    border: none;
    height: @navbar-height;
    line-height: @navbar-height - 40px;
    padding: 20px 0;
    font-size: @font-size-base;
    background-color: transparent;
    .transition(width 0.4s ease-out);
    color: #fff;
    .placeholder(rgba(0,0,0,0.4));
  }
}


.nav-mobile {
  position: fixed;
  top: @navbar-height + 4;
  left: -100%;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  .transition(left 0.35s cubic-bezier(0.23, 1, 0.32, 1));

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    border-bottom: 1px solid #e6e6e6;

    i {
      margin-right: 7px;
    }
  }

  a {
    display: block;
    padding: 20px 20px;
    font-size: 18px;

    &:hover {
      text-decoration: none;
    }
  }

  &.active {
    left: 0;
  }
}


/*

  Regular content page

 */

.content-page {
  > header {
    padding: 35px 0;
    background: #1e1e1e;
    color: #fff;

    h1 {
      margin: 0;
      font-size: 36px;
      -webkit-font-smoothing: antialiased;
    }
  }

  .sub-header {
    padding: 25px;
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;

    h2, h3 {
      margin: 0;
      font-size: 24px;
    }
  }

  .main {
    margin: 40px 0 80px;

    .section-header {
      .clearfix;
      margin: 0 0 20px 0;
      border-bottom: 1px solid #DDD;
      padding: 0 0 10px 0;

      h2 {
        margin: 0;
        float: left;
      }

      .actions {
        float: right;
      }
    }
  }
}


/*

  General box style

 */

.box {
  padding: 40px 30px;
  background: #fff;
  .box-shadow(0 1px 1px 1px rgba(0,0,0,0.05));
}


/*

  Content box styles

 */

.content-box {
  .box;
  padding: 0;
  margin-bottom: 25px;

  header {
    position: relative;
    padding: 20px 15px;
    border-left: 2px solid @brand-primary;
  }

  h2, h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }

  .list-group {
    margin: 0;

    .list-group-item {
      border: none;
      border-radius: none;
      border-top: 1px solid #e6e6e6;
    }
  }

  .content-body {
    border-top: 1px solid #e6e6e6;
    padding: 15px;
  }

  .no-results, .searching {
    border-top: 1px solid #e6e6e6;
  }

  > form {
    padding: 15px;
    border-top: 1px solid #e6e6e6;
  }

  .nav {
    border-top: 1px solid #e6e6e6;
  }

  .dropdown {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .form-footer, .content-footer {
    .modal-footer;
    margin: 40px -15px -15px -15px;

    .picker-flag {
      background: #fff;
    }
  }
}


.list-uploads {
  
  .list-group-item {
    position: relative;
    border-bottom-width: 3px;
    border-bottom-color: #E6E6E6;
  }

  .item-progress {
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 4px;
    background: @brand-primary;
    .transition(0.2s);
    z-index: 2;
  }
}

.dropzone {
  margin: 0 0 20px 0;
  background: #F2F2F2;
  padding: 30px 0 20px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;

  &.over {
    background: @brand-primary;
    color: #fff !important;

    .btn {
      color: #fff;
    }
  }
}


/*

  Floating labels

 */

form.floating-labels .form-group {
  margin-top: 10px;
}

label.floating-label {
  position: absolute;
  width: 200px;
  top: 0;
  left: -200px;
  padding: @padding-base-horizontal;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  .transition(all 0.2s ease-out);

  &.active {
    // color: @brand-primary;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}


/*

  Form step title

 */

.form-step-title {
  position: relative;
  // background: #F9F9F9;
  border-radius: @border-radius-base;
  padding: 12px 12px 12px 54px;
  margin-bottom: 15px;

  .number {
    position: absolute;
    top: 20px;
    left: 6px;
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-radius: 50%;
    text-align: center;
    color: @text-color;
    background: none;
    border: 2px solid @text-color;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
  }

  .title {
    font-size: 22px;
    margin: 0 0 8px;
  }

  .message {
    margin: 0;
    font-size: @font-size-small;
  }
}


/*

  Profile Styles

 */

.profile-logo {
  img {
    display: block;
    max-width: 85%;
    max-height: 140px;
    margin: 40px auto 40px;
  }
}

.skills {
  .clearfix;
  list-style: none;
  padding: 0;

  li {
    padding: 4px 10px;
    margin: 5px 5px 5px 0;
    float: left;
    color: #666;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: #FCFCFC;
  }
}


/*

  Map styles

 */

.map {
  position: relative;

  .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .map-info {
    .box;
    max-width: 300px;
    margin: 50px 0 0;

    h2 {
      margin: 0 0 15px;
    }

    .btn {
      margin-top: 40px;
    }
  }
}


/*

  Footer

 */

#footer {
  /* heigth set with the page-wrap */
  padding: 30px;
  background: #fff;
  border-top: 1px solid #e6e6e6;

  a {
    display: block;
    line-height: 40px;
  }
}


/*

  Include all module less files here

 */

@import "../js/login/login.less";
@import "../js/register/register.less";
@import "../js/search/search.less";
@import "../js/company/company.less";
@import "../js/dashboard/dashboard.less";
@import "../js/internships/internships.less";


/*

  Styles for the landing page

 */
@import "landing-page.less";

